
@if (Session["UserId"] == null)
{
    <script>window.open("/Account/Login", "_self")</script>
}

<!DOCTYPE html>
<html x-data="data()" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Notification Panel</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wghton400;500;600;700;800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link href="~/Scripts/cdn.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/assets/css/tailwind.output.css" />
    <script src="~/assets/js/alphine.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors.min.js" type="text/javascript"></script>
    <script src="~/Scripts/cdn.min.js" type="text/javascript"></script>
    <script src="~/assets/js/init-alpine.js" type="text/javascript"></script>
    <link href="~/Scripts/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/dataTables.jqueryui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>
    <link href="~/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/css/LIStyle.css" rel="stylesheet" />

</head>
<body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900">
        <!-- Desktop sidebar -->
        <aside class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
            <div class="py-4 text-gray-500 dark:text-gray-400">
                <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200"
                   href="/Home/UserDashboard">
                    Notification Panel
                </a>
                <div class="container relative px-6 py-3">
                    <ul class="mt-6">
                        <li class="dropdown cssState flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">

                            <a href="/Home/UserDashboard">  Dashboard</a>
                        </li>
                    </ul>
                </div>

                <div class="container relative px-6 py-3">
                    <ul class="mt-6">
                        <li class="dropdown cssState flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">

                            Notifications

                            <span class="material-icons">
                                arrow_drop_down
                            </span>
                            <ul>
                                <li class="dropdown cssState">
                                <li><a href="/Notifications/All">All</a></li>
                                <li><a href="/Notifications/Compose">Compose</a></li>

                                <li><a href="/Notifications/Unread">Unread</a></li>
                                <li><a href="/Notifications/Sent">Sent</a></li>

                            </ul>
                        </li>



                    </ul>
                </div>

                @if (Session["UserId"] != null)
                {


                    if (Convert.ToInt64(Session["RoleId"]) == 1)
                    {


                        <div class="container relative px-6 py-3">
                            <ul class="mt-6">
                                <li class="dropdown cssState flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">

                                    Users

                                    <span class="material-icons">
                                        arrow_drop_down
                                    </span>
                                    <ul>
                                        <li class="dropdown cssState">
                                        <li><a href="/Users/Create"></a></li>
                                        <li><a href="/Users/Create">Create</a></li>
                                    </ul>
                                </li>



                            </ul>
                        </div>
                    }
                }


            </div>
        </aside>
        <!-- Mobile sidebar -->
        <!-- Backdrop -->
        <div x-show="isSideMenuOpen"
             x-transition:enter="transition ease-in-out duration-150"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="transition ease-in-out duration-150"
             x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0"
             class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"></div>
        <aside class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden"
               x-show="isSideMenuOpen"
               x-transition:enter="transition ease-in-out duration-150"
               x-transition:enter-start="opacity-0 transform -translate-x-20"
               x-transition:enter-end="opacity-100"
               x-transition:leave="transition ease-in-out duration-150"
               x-transition:leave-start="opacity-100"
               x-transition:leave-end="opacity-0 transform -translate-x-20"
               onkeydown.escape="closeSideMenu">

            <div class="py-4 text-gray-500 dark:text-gray-400">
                <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200"
                   href="#">
                    Windmill
                </a>
                <ul class="mt-6">
                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                           href="index.html">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                            </svg>

                            <span class="ml-4">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>
        <div class="flex flex-col flex-1">
            <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
                <div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
                    <!-- Mobile hamburger -->
                    <button class="p-1 -ml-1 mr-5 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
                            click="toggleSideMenu"
                            aria-label="Menu">
                        <svg class="w-6 h-6"
                             aria-hidden="true"
                             fill="currentColor"
                             viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Search input -->
                    <div class="flex justify-center flex-1 lg:mr-32">
                        <div class="relative w-full max-w-xl mr-6 focus-within:text-purple-500">
                            <div class="absolute inset-y-0 flex items-center pl-2">

                            </div>
                            <div class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                                 placeholder=""
                                 aria-label="Search">
                                <h1 style="font-weight:bold;color:slateblue; font-size:20px;">LET'S STAY IN TOUCH!</h1>
                            </div>
                        </div>
                    </div>
                    <ul class="flex items-center flex-shrink-0 space-x-6">

                        <li class="relative">



                        </li>


                        <!-- Profile menu -->
                        <li class="relative">
                            <a href="/Account/Logout">


                                <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:18px;">
                                    Logout
                                </span>
                            </a>
                        </li>

                        <li class="relative">
                            <a href="/Account/Logout">
                                <span class="material-icons" style="font-size:25px; font-weight:bold; display:block; align-content:center; ">
                                    logout
                                </span>

                            </a>


                        </li>
                        <li class="relative">

                            <div class="py-4 text-gray-500 dark:text-gray-400">
                                <button onclick=" window.open('/Users/YourProfile', '_self')" class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none">
                                    <img class="object-cover w-8 h-8 rounded-full"
                                         src="@( "/Images/"+Session["Image"] )"
                                         alt="@Session["Name"]'s Avatar "
                                         onerror="'~/Images/avatar.png'"
                                         aria-hidden="true" />

                                </button>

                                <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200">@Session["Name"]</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </header>
            <main class="h-full pb-16 overflow-y-auto">
                <div class="container px-6 mx-auto grid">
                    @RenderBody()
                </div>

            </main>
        </div>
    </div>

</body>
</html>
<script src="~/Scripts/Layout.js"></script>
<script>

    //session end
      var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
    window.location = "/Account/Logout";
    }</script>